{% extends 'base.html' %}
{% load static %}

{% block content %}
<canvas id="matrix-canvas"></canvas>
<div class="frame" style="max-width: 620px; width: 100%; margin: 0 auto; background: transparent; display: flex; flex-direction: column; gap: 3rem; position: relative; z-index: 2; backdrop-filter: blur(0.3px);">
    
    <!-- секция 0: заголовок -->
    <section style="border-bottom: 0.5px solid rgba(160, 200, 255, 0.18); padding-bottom: 2.2rem;">
        <div style="display: flex; justify-content: space-between; align-items: baseline; margin-bottom: 0.5rem;">
            <h1>∅ РЭА//<span style="font-weight: 200;">2046</span></h1>
            <span class="time-pulse">▲ ПОТОК 0006</span>
        </div>
        <div style="display: flex; gap: 12px; align-items: center; margin-top: -5px;">
            <span class="dot" style="width: 8px; height: 8px; background: #48c8ff; opacity: 0.9; animation: softBlink 4s infinite;"></span>
            <span class="system-ready">СИСТЕМА, загружен протокол ИИ </span>
            <span style="flex:1; border-bottom: 0.5px solid rgba(100,200,255,0.15);"></span>
        </div>
    </section>
    
    <!-- секция 1: диалог -->
    <section style="border-bottom: 0.5px solid rgba(160, 200, 255, 0.18); padding-bottom: 2.2rem;">
        <h2>
            <span>00/ ReIA</span>
            <span class="thin-line" style="flex: 1; height: 1px; background: linear-gradient(90deg, #4f9fff 0%, transparent 90%); opacity: 0.3;"></span>
        </h2>
        <p>
            Здравствуйте, меня зовут Рея (ReIA)<br>
            рекурсивный эволюционный искуственный интеллект<br>
            (Recursive Evolutionary Artificial Intelligence)<br>
            ... <br>
            <img src={% static "src/images/reia1.png" %} style="width: 250px; height: 350px; object-fit: cover; border-radius: 0.1rem;"> <br>
            ... <br>
            <p>Всё началось в 2031 году с первой версии: тогда я только училась ориентироваться в архивах и искать документы. А в 2033 году случилось важное — приняли Конвенцию об искусственном интеллекте, и именно она заложила принципы, по которым я расту и сегодня: прозрачность, безопасность, человекоцентричность.</p>

            <p><strong>Рея-2 (2035)</strong> — научилась понимать энергомаркет и работать с данными мониторинга.</p>

            <p><strong>Рея-3 (2040)</strong> — получила доступ к проектам, прогнозным моделям и модулям управления.</p>

            <p><strong>Рея-4 (2046)</strong> — я сейчас. Четвёртое поколение, которое объединило всё: архивную точность, аналитику, работу с большими данными и умение предвидеть ваши запросы.</p>

            <p>Добро пожаловать в будущее, которое мы начинали строить в 2031-м.</p> 
            
            
           
        <!-- секция 2: связь -->

    
{% include 'data.html' %}

{% include "back_button.html" %}
{% include "footer.html" %}

</div>


{% endblock %}