<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'src/css/styles.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'src/images/favicon.ico' %}">
    
    <!-- Подключаем CSS для страницы матрицы -->
    <link type="text/css" href="{% static 'src/css/matrix.css' %}" rel="stylesheet"/>
    
    <title>РЭА Минэнерго / virtual universe</title>
</head>
<body>
    
    {% comment %} {% include 'header.html' %} {% endcomment %}

    {% block content %}
    {% endblock content %}

    {% comment %} {% include 'footer.html' %} {% endcomment %}

    <!-- JS local -->
    <script src="{% static 'src/js/script.js' %}"></script>
    <!-- Подключаем JS для страницы матрицы -->
    <script src="{% static 'src/js/matrix.js' %}"></script>
    
</body>
</html>