<div style="display: flex; gap: 1.5rem; justify-content: center; margin-top: 3rem; width: 100%; flex-wrap: wrap;">
    <a href = {% url 'src:reia' %} class="data-button">
        <span>ИИ</span> _РЕЯ_
    </a>
    <a href = {% url 'src:archive' %} class="data-button">
        <span>⌘</span> _АРХИВ_26-46_
    </a>
    <a href = {% url 'src:cons' %} class="data-button">
        <span>⍟</span> _КОНСОРЦИУМ_
    </a>
    <a href = {% url 'src:energomarket' %} class="data-button">
        <span>⟳</span> _ЭНЕРГОМАРКЕТ_
    </a>
    <a href = {% url 'src:ops' %} class="data-button">
        <span>!!!</span> _ПОВЕДЕНЧЕСКИЙ ОПЕРАТОР ЭНЕРГОСИСТЕМЫ_
    </a>
    <a href = "#" class="data-button">
        <span>#</span> СЕКРЕТНО
    </a>
</div>